.Pokedex {
  min-width: 100%;
  display: grid;
  grid-template-areas:
    " h h h h h h h "
    " d d d m l l l "
    " d d d m l l l "
    " t t t t t t t ";
}

.pokemonList {
  min-width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
  grid-area: l;
  border: 1px solid red;
}

.PokemonDetails {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  grid-area: d;
}

h1 {
  grid-area: h;
  text-align: center;
  margin: 0;
  padding: 0;
}

.divider {
  min-width: 25px;
  max-width: 100px;
  background-color: red;
  grid-area: m;
}